body

{
    text-align: left;
background-color: rgb(153, 109, 202);
}

p

{
color: rgb(0, 0, 0);
font-weight: bolder;
font-size: 15pt;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

img

{
height: 420px;
width: 550px;
}

div

{
    max-width: 600px;
    margin: auto;
}
header{
font-size: 50pt;
color: aqua;
text-align: center;

}